.banner{
    height:125px;
    position:relative
}

#banner-text{
    color:white;
    font-size:40px;
    position:absolute;
    margin-top:35px;
    margin-left:5%;
}

.practice {
    background-color:#4CAF50;
}